
 @media screen and (max-width: 420px){
  nav{
  width: 100%;
  position: absolute;
}
  .container .row .col-sm-6 iframe{
   width: 100%;

  }
  .container .welcome .row{
    margin-left: -40px;

  }
  .container .welcome .row .col-sm-4{
    margin-left: -10px;
  }

 /* Part Should be added*/


  .container .welcome #vision_mission{
    margin-left: -150px;
  }
 
.logo a img{
    width: 240px;
  margin-top: 10px;
  margin-left: 25px;
}
  .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
     margin-left: -20px;
     margin-top: -7px;
    }
    #tag blockquote{
      font-size: 16px;

     }
    #tag h1{
      font-size: 24px;
      font-weight: 500;
    }

  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 100%;
    width: 100%;
    background: black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: auto;
    overflow-x: hidden;
  }
  
  
     #tag blockquote{
      font-size: 14px;

     }
    #tag h1{
      font-size: 25;
      font-weight: 500;
    }
    #about h2{
       font-size: 25px;
      font-weight: 500;

    }
    .events h2{
       font-size: 22px;
      font-weight: 500;

    }
    @keyframes slider{
    0%{
       background-image:url(back.png);  
      background-size: 100% 100%; 
          animation: slider 9s infinite linear;

      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    }
    10%{
      
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://www.amity.edu/mumbai/images/university.jpg); 

       background-size: 100% 100%; 
           animation: slider 9s infinite linear;

        background-size: 100% 100%; 
      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
     }

}
.container .row .col-sm-6 img{
  width: 80%;
}
.header .arrows span{
  display: block;
    width: 14px;
    height: 14px;
}
#about h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.events h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
input[type=text],input[type="mail"], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  outline: 0px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
#contact .getintouch h1{
  font-size: 24px;
}
#contact .getintouch h4{
  font-size: 14px;
}

.container .row .col-sm-6 h1{
  font-size: 24px;
}
.fa-arrow-up{
  
  padding: 6px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: black;
  background-color: #d1e3fa;
}
/*new component
*/

 .container .row .col-sm-4 h1{
  color: #ffffff;
  font-size: 35px;
}
.container .row .col-sm-4 h3{
  font-size: 24px;
}
.btn-success{
 border-radius: 0px;
 outline: 0px;
 margin-top: 10px;
 margin-bottom: 5px;
} 
 .container .row .col-sm-4 h2{
  display: none;
  }
  /*Should be added*/
  .container .row .col-sm-4 a{
    margin-left: 0px;
  }
  .launch-time{
    margin-top: -45px;
  }
  
  .launch-time div p{
    font-size: 30px;

  }
  .launch-time div span{
    font-size: 18px;
  }
  .rocket{
    display: none;
  }
html{
  overflow-x: hidden;
}
}
@media screen and (min-width: 420px) and (max-width: 480px){
   nav{
  width: 100%;
  position: absolute;
}
  .container .row .col-sm-6 iframe{
   width: 100%;

  }
  .container .welcome .row{
    margin-left: -50px;

  }
  .container .welcome .row .col-sm-4{
    margin-left: -10px;
  }
  .container .welcome #vision_mission{
    margin-left: -50px;
  }
   .container .welcome .row .col-sm-6{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
 .container .welcome .row .col-sm-4{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
.logo a img{
    width: 270px;
  margin-top: 10px;
  margin-left: 0px;
}
  .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
     margin-left: -20px;
     margin-top: -7px;
    }
    #tag h1{
      font-size: 26px;
      font-weight: 500;
    }

  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 350px;
    width: 100%;
    background: black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: auto;
    overflow-x: hidden;
  }
  
  
     #tag blockquote{
      font-size: 17px;

     }
    #tag h1{
      font-size: 25px;
      font-weight: 500;
    }
    #about h2{
       font-size: 28px;
      font-weight: 500;

    }
    .events h2{
       font-size: 24px;
      font-weight: 500;

    }
    @keyframes slider{
    0%{
       background-image:url(back.png);  
      background-size: 100% 100%; 
          animation: slider 9s infinite linear;

      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    }
    10%{
      
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://www.amity.edu/mumbai/images/university.jpg); 

       background-size: 100% 100%; 
           animation: slider 9s infinite linear;

        background-size: 100% 100%; 
      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
     }

}
.container .row .col-sm-6 img{
  width: 80%;
}
.header .arrows span{
  display: block;
    width: 14px;
    height: 14px;
}
.events h2{
  font-size: 27px;
}
#about h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.events h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
input[type=text],input[type="mail"], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  outline: 0px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
#contact .getintouch h1{
  font-size: 27px;
}
#contact .getintouch h4{
  font-size: 17px;
}

.container .row .col-sm-6 h1{
  font-size: 24px;
}
.fa-arrow-up{
  
  padding: 6px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: black;
  background-color: #d1e3fa;
}
/*new component
*/

 .container .row .col-sm-4 h1{
  color: #ffffff;
  font-size: 35px;
}
.container .row .col-sm-4 h3{
  font-size: 24px;
}

 .container .row .col-sm-4 h2{
  display: none;
  }
  /*Should be added*/
  .container .row .col-sm-4 a{
    margin-left: 50px;
  }
  .launch-time{
    margin-top: -45px;
    margin-left: 30px;
  }
  
  .launch-time div p{
    font-size: 30px;
  }
  .launch-time div span{
    font-size: 18px;
  }
  .rocket{
    display: none;
  }
html{
  overflow-x: hidden;
}

  

}
@media screen and (min-width: 480px) and (max-width: 740px){
   nav{
  width: 100%;
  position: absolute;
}
  .container .row .col-sm-6 iframe{
   width: 100%;

  }

  .container .welcome .row{
    margin-left: -50px;

  }
  .container .welcome .row .col-sm-4{
    margin-left: -10px;
  }
  .container .welcome #vision_mission{
    margin-left: -50px;
  }
   .container .welcome .row .col-sm-6{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
 .container .welcome .row .col-sm-4{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
.logo a img{
    width: 270px;
  margin-top: 10px;
  margin-left: -50px;
}
  .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
     margin-left: -20px;
     margin-top: -7px;
    }
    #tag h1{
      font-size: 28px;
      font-weight: 500;
    }

  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 350px;
    width: 100%;
    background: black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: auto;
    overflow-x: hidden;
  }
  
  
     #tag blockquote{
      font-size: 18px;

     }
    #tag h1{
      font-size: 25;
      font-weight: 500;
    }
    #about h2{
       font-size: 28px;
      font-weight: 500;

    }
    .events h2{
       font-size: 24px;
      font-weight: 500;

    }
    @keyframes slider{
    0%{
       background-image:url(back.png);  
      background-size: 100% 100%; 
          animation: slider 9s infinite linear;

      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    }
    10%{
      
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://www.amity.edu/mumbai/images/university.jpg); 

       background-size: 100% 100%; 
           animation: slider 9s infinite linear;

        background-size: 100% 100%; 
      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
     }

}
.container .row .col-sm-6 img{
  width: auto;
}
.header .arrows span{
  display: block;
    width: 18px;
    height: 18px;
}
.events h2{
  font-size: 29px;
}
#about h2{
  font-size: 29px;
}
#what h1{
  font-size: 29px;
}
#about h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.events h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
input[type=text],input[type="mail"], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  outline: 0px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
#contact .getintouch h1{
  font-size: 27px;
}
#contact .getintouch h4{
  font-size: 17px;
}

.container .row .col-sm-6 h1{
  font-size: 24px;
}
.fa-arrow-up{
  
  padding: 6px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: black;
  background-color: #d1e3fa;
}
/*new component
*/
.new_event{
  text-align: center;
  width: auto;
}
 .container .row .col-sm-4 h1{
  color: #ffffff;
  font-size: 35px;
}
.container .row .col-sm-4 h3{
  font-size: 24px;
}

 .container .row .col-sm-4 h2{
  display: none;
  }
  /*Should be added*/
  .container .row .col-sm-4 a{
    margin-left: -130px;
  }
  .launch-time div{
    margin-top: -45px;
    margin-left: 8%;
    text-align: center;
  }
  
  .launch-time div p{
    font-size: 30px;
  }
  .launch-time div span{
    font-size: 18px;
  }
  .rocket{
    display: none;
  }
html{
  overflow-x: hidden;
}

  

}
@media screen and (min-width: 740px) and (max-width: 800px){
   nav{
  width: 100%;
  position: absolute;
}
  .container .row .col-sm-6 iframe{
   width: 100%;
   margin-top: -5%;

  }
.new_event{
  min-height: 19vh;
}
  .container .welcome .row{
    margin-left: -50px;

  }
  .container .welcome .row .col-sm-4{
    margin-left: -10px;
  }
  .container .welcome #vision_mission{
    margin-left: -50px;
  }
   .container .welcome .row .col-sm-6{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
 .container .welcome .row .col-sm-4{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
.logo a img{
    width: 300px;
  margin-top: 10px;
  margin-left: -100px;
}
  .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
     margin-left: -20px;
     margin-top: -7px;
    }
    #tag h1{
      font-size: 29px;
      font-weight: 500;
    }

  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 350px;
    width: 100%;
    background: black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: auto;
    overflow-x: hidden;
  }
  
  
     #tag blockquote{
      font-size: 18px;

     }
    
    #about h2{
       font-size: 30px;
      font-weight: 500;

    }
    .events h2{
       font-size: 30px;
      font-weight: 500;

    }
    .header{
      min-height: 100vh;
    }
    @keyframes slider{
    0%{
       background-image:url(back.png);  
      background-size: 100% 100%; 
          animation: slider 9s infinite linear;

      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    }
    10%{
      
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://www.amity.edu/mumbai/images/university.jpg); 

       background-size: 100% 100%; 
           animation: slider 9s infinite linear;

        background-size: 100% 100%; 
      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
     }

} 
   
.description .row .col-sm-6 {
   margin: 50px;
    width: 700px;
 align-items: center;
 text-align: center;
 padding: 20px;
 display: block;
 margin-top: -40px;
  }
  .description .row .col-sm-6 p{
    margin-top: 0%;
}
.container .row .col-sm-6 img{
  width: auto;
}
.header .arrows span{
  display: block;
    width: 18px;
    height: 18px;
}
.events h2{
  font-size: 29px;
}
#about h2{
  font-size: 29px;
}
#what h1{
  font-size: 29px;
}
#about h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.events h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.container .row .col-sm-6{
    width: 650px;
 align-items: center;
 text-align: center;
 margin: 50px;
 display: block;
 margin-top: -15px;

}
#what{
  margin-top: -11%;
}
input[type=text],input[type="mail"], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  outline: 0px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
#contact .getintouch h1{
  font-size: 27px;
}
#contact .getintouch h4{
  font-size: 17px;
}

.container .row .col-sm-6 h1{
  font-size: 24px;
}
.fa-arrow-up{
  
  padding: 6px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: black;
  background-color: #d1e3fa;
}
/*new component
*/
.new_event{
  text-align: center;
  width: auto;
}
 .container .row .col-sm-4 h1{
  color: #ffffff;
  font-size: 32px;
  margin-left: -60px;
}
.container .row .col-sm-4 h4{
  font-size: 20px;
  margin-left: 50px;
}

 .container .row .col-sm-4 h2{
  display: none;
  }
  /*Should be added*/
  .container .row .col-sm-4 a{
    margin-left: -100px;
  }
  .launch-time div{
    margin-top: -45px;
    margin-left: 8%;
    text-align: center;
  }
  
  .launch-time div p{
    font-size: 30px;
  }
  .launch-time div span{
    font-size: 18px;
  }
  .rocket{
    display: none;
  }
  .footer .container .col-sm-2{
         margin: 50px;
    width: 580px;
    display: block;
  

  }
html{
  overflow-x: hidden;
}

  

}    
@media screen and (min-width: 800px) and (max-width: 990px){
  
  .container .row .col-sm-6 iframe{
   width: 100%;
   margin-top: -10%;

  }
#description{
  text-align: center;
}
  .container .welcome .row{
    margin-left: -50px;

  }
  .container .welcome .row .col-sm-4{
    margin-left: -10px;
  }
  .container .welcome #vision_mission{
    margin-left: -50px;
  }
   .container .welcome .row .col-sm-6{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
 .container .welcome .row .col-sm-4{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
    #tag h1{
      font-size: 32px;
      font-weight: 500;
    }
  
     #tag blockquote{
      font-size: 20px;

     }
    
    #about h2{
       font-size: 32px;
      font-weight: 500;

    }
    .events h2{
       font-size: 32px;
      font-weight: 500;

    }
    .header{
      min-height: 100vh;
    }
    @keyframes slider{
    0%{
       background-image:url(back.png);  
      background-size: 100% 100%; 
          animation: slider 9s infinite linear;

      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    }
    10%{
      
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://www.amity.edu/mumbai/images/university.jpg); 

       background-size: 100% 100%; 
           animation: slider 9s infinite linear;

        background-size: 100% 100%; 
      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
     }

} 
  .description .row .col-sm-6 p{
    margin-top: 0%;
    width: 650px;
    margin-top: -10%;
   }

.container .row .col-sm-6 img{
  width: auto;
}
.header .arrows span{
  display: block;
    width: 18px;
    height: 18px;
}
.events h2{
  font-size: 32px;
}
#about h2{
  font-size: 32px;
}
#what h1{
  font-size: 32px;
}
#about h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.events h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.description .row .col-sm-6{
    width: 700px;
 align-items: center;
 text-align: center;
 margin: 50px;
 display: block;

}
.container .row .col-sm-6 img{
  text-align: center;
}
#what{
  margin-top: 0%;
  width:auto;
}
#what h1{
  margin-left: auto;
}
input[type=text],input[type="mail"], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  outline: 0px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
#contact .getintouch h1{
  font-size: 27px;
}
#contact .getintouch h4{
  font-size: 17px;
}

.container .row .col-sm-6 h1{
  font-size: 24px;
}
.fa-arrow-up{
  
  padding: 6px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: black;
  background-color: #d1e3fa;
}
/*new component
*/
.new_event{
  text-align: center;
  width: auto;
}
 .container .row .col-sm-4 h1{
  color: #ffffff;
  font-size: 32px;
  margin-left: -60px;
}
.container .row .col-sm-4 h4{
  font-size: 20px;
  margin-left: 50px;
}

 .container .row .col-sm-4 h2{
  display: none;
  }
  /*Should be added*/
  .container .row .col-sm-4 a{
    margin-left: -100px;
  }
  .launch-time div{
    margin-top: -45px;
    margin-left: 8%;
    text-align: center;
  }
  
  .launch-time div p{
    font-size: 30px;
  }
  .launch-time div span{
    font-size: 18px;
  }
  .footer .container .col-sm-2{
         margin: 50px;
    width: 580px;
    display: block;
  

  }
  .rocket{
    display: none;
  }
  .icons{display: none;}
html{
  overflow-x: hidden;
}

  .new_event{
  min-height: 18vh;
  

}
}
@media screen and (min-width: 990px) and (max-width: 1199px){
  .container .row .col-sm-6 iframe{
   width: 118%;
   margin-top: -10%;

  }
#description{
  text-align: center;
}
  .container .welcome .row{
    margin-left: -50px;

  }
  .container .welcome .row .col-sm-4{
    margin-left: -10px;
  }
  .container .welcome #vision_mission{
    margin-left: -50px;
  }
   .container .welcome .row .col-sm-6{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
 .container .welcome .row .col-sm-4{
 width: auto;
 align-items: center;
 text-align: center;
 padding: 20px;
 margin: 10px;
}
    #tag h1{
      font-size: 33px;
      font-weight: 500;
    }
  
     #tag blockquote{
      font-size: 20px;

     }
    
    #about h2{
       font-size: 32px;
      font-weight: 500;

    }
    .events h2{
       font-size: 32px;
      font-weight: 500;

    }
    .new_event{
  min-height: 18vh;
  
}
    .header{
      min-height: 100vh;
    }
    @keyframes slider{
    0%{
       background-image:url(back.png);  
      background-size: 100% 100%; 
          animation: slider 9s infinite linear;

      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    }
    10%{
      
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://www.amity.edu/mumbai/images/university.jpg); 

       background-size: 100% 100%; 
           animation: slider 9s infinite linear;

        background-size: 100% 100%; 
      min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
     }

} 
  .description .row .col-sm-6 p{
    margin-top: 0%;
    width: 850px;
    margin-top: -10%;
   }

.container .row .col-sm-6 img{
  width: auto;
}
.header .arrows span{
  display: block;
    width: 18px;
    height: 18px;
}
.events h2{
  font-size: 32px;
}
#about h2{
  font-size: 32px;
}
#what h1{
  font-size: 32px;
}
#about h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.events h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #0a3057;
  right: 45%;
  top: 145%;
  position: absolute;
}
.description .row .col-sm-6{
    width: 700px;
 align-items: center;
 text-align: center;
 margin: 50px;
 display: block;

}
.container .row .col-sm-6 img{
  text-align: center;
}
#what{
  margin-top: 0%;
  width:auto;
}
#what h1{
  margin-left: auto;
}
input[type=text],input[type="mail"], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  outline: 0px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
#contact .getintouch h1{
  font-size: 27px;
}
#contact .getintouch h4{
  font-size: 17px;
}

.container .row .col-sm-6 h1{
  font-size: 24px;
}
.fa-arrow-up{
  
  padding: 6px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: black;
  background-color: #d1e3fa;
}
/*new component
*/
.new_event{
  text-align: center;
  width: auto;
}
 .container .row .col-sm-4 h1{
  color: #ffffff;
  font-size: 32px;
  margin-left: -60px;
}
.container .row .col-sm-4 h4{
  font-size: 20px;
  margin-left: 50px;
}

 .container .row .col-sm-4 h2{
  display: none;
  }
  /*Should be added*/
  .container .row .col-sm-4 a{
    margin-left: -100px;
  }
  .launch-time div{
    margin-top: -45px;
    margin-left: 8%;
    text-align: center;
  }
  
  .launch-time div p{
    font-size: 30px;
  }
  .launch-time div span{
    font-size: 18px;
  }
  .footer .container .col-sm-2{
         margin: 50px;
    width: 780px;
    display: block;
  

  }
  .rocket{display: none;}
  .icons{display: none;}

html{
  overflow-x: hidden;
}
  

  }